# Environment variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
env/
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Vector Store and local model caches
# Data/VectorStore/
# *.faiss
# *.pkl

# OS/System files
.DS_Store
Thumbs.db
